doctype html
html
  head
    title My Form Page

  body
    h1 My Form

    form(method="POST" action="/new")
      label(for="author") Author's Name:
      input(type="text" name="author" id="author" required)

      label(for="message") Message Text:
      input(type="text" name="message" id="message" required)

      button(type="submit") Submit
